.btn{
    all:unset;
    width: 100%;
    color:white;
    background-color: #FF8c38;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 0;
}