.container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.imagecontainer{
   height: 25%;
   margin: 0 auto;
   width: 60%;
   /* background-color: black; */
}
.textcontainer{
    height: 75%;
    width: 50%;
    margin: 0 auto;
}
.text1{
    color: #161616;
    font-weight: 800;
    font-size: 42px;
    font-family:inter,sans-serif;
    height: 25%;
}
.text2{
    color:#161616;
    font-weight: 500;
    font-family: inter,sans-serif;
    font-size: 25px;
    height: 25%;
}
.card
{
    background-color: #ffcc8d;
    height: 25%;
    border-radius: 10px;
}
.cardcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardtext
{
    color:#161616;
    overflow-wrap:break-word ;
    font-weight: 600;
    font-size: 36px;
}
.cardcontainer{
    height: 300px;
}